<p id="paraTest">TEST</p>

<div class="container" id="weatherForm" style="padding-top: 20px; padding-bottom: 20px;">
<div class="card">
    <div class="card-header">
        {{#if location}} {{location}} {{else}} LOCATION {{/if}}
    </div>
    <div class="card-body">
        This is a test 
    </div>
</div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {{!-- <th>Date</th> --}}
                        <th>Time</th>
                        <th>Wind Direction</th>
                        <th>Wind Speed</th>
                        <th>Tempreture</th>
                        <th>Clouds</th>
                        <th>Visibility</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each hourly}}
                    <tr>
                        {{!-- <td>{{foo}}</td> --}}
                        <td>{{unixDate this.dt}} <br> {{unixTime this.dt}}</td>
                        <td>{{this.wind_deg}} <br> {{getCardinalDirections this.wind_deg}}</td>
                        <td>{{this.wind_speed}}</td>
                        <td>{{this.temp}} &#176;C</td>
                        <td>{{this.clouds}}</td>
                        <td>{{this.visibility}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>