<div class="container" id="weatherForm" style="padding-top: 20px; padding-bottom: 20px;">

    <div class="summary-widget">
        {{!-- <div class="image-divider"> --}}
            {{!-- <img  class="full-width" src='https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'> --}}
        <div class="left-panel panel" >
            <figure class="tint">
            <img  class="image-divider" src='https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'>
            </figure>
         <div class="left-details">  
            <div class="date">{{dateFormat current.dt}}</div>
            <div class="location"><i class="fas fa-map-marker-alt"></i> {{location}}</div>
        
        </div> 
        </div>

        
        <div class="right-panel panel">
            <div class="temp">
                {{onedp current.temp}}&deg;C <br>
            </div>
            
            <div class="current-conditions">
                {{#each current.weather}}   
                <i class="owi owi-{{icon}} owi-4x"></i>        
                {{/each}}
            </div>

            <div class="current-wind">
                Direction: {{getCardinalDirections current.wind_deg}} <br>
                Speed: {{knots current.wind_speed}}knots
            </div>
            
        
    </div>
    {{!-- </div> --}}
    </div>


    <div class="container">

        <div class="card">

            <div class="card-body">
                
                <form  action="/addConditionsFilter" method="post" enctype="multipart/form-data">

                    {{!-- Filter by wind direction --}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked"> Checked checkbox</label>
                    </div>

                        <div class="pcontainer">
                            
                            <form class="multi-range-field my-5 pb-5">
                                <input id="multi3" class="multi-range" type="range" />
                            </form>
                           
                           
                        </div>


                            <button type="submit" class="long-button">Submit</button>
                        
                        </div>

                        <div class="cancel-container">

                        </div>

                    </form>

            </div>

        </div>



        <div class="card" id="weather-table">
            {{!-- <div class="card-body"> --}}
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {{!-- <th>Date</th> --}}
                            <th>Time</th>
                            <th>Weather</th>
                            <th>Wind Direction</th>
                            <th>Wind Speed</th>
                            <th>Tempreture</th>
                            <th>Clouds</th>
                            <th>Visibility</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        {{#each hourly}}
                        <tr>
                            <td>{{unixDate this.dt}} <br> {{unixTime this.dt}}</td>
                                {{#each this.weather}}
                                    <td>{{description}}<br>
                                    {{!-- <img class="weather-icons" src="http://openweathermap.org/img/wn/{{icon}}@2x.png"> --}}
                                    {{!-- <i class="owf owf-{{id}}"></i> --}}
                                    <i class="owi owi-{{icon}} owi-3x"></i>
                                    </td>
                                {{/each}}
                            <td id="wind-direction">{{this.wind_deg}}&#176; <br> {{getCardinalDirections this.wind_deg}}</td>
                            <td>{{knots this.wind_speed}} knots</td>
                            <td>{{onedp this.temp}} &#176;C</td>
                            <td>{{this.clouds}}</td>
                            <td>{{this.visibility}}</td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            {{!-- </div> --}}
        </div>
    </div>
</div>