
<div class="container-sm" style="margin-right: 4vw;margin-left: 4vw;">

<div class="row ">

    <div class="col-xl-3 col-lg-12 p-4">
 
    <div id="filter-box" class="weather-widget d-none d-xl-block">
        
        <div class="filter-header">
                <h3 id="filter-title" class="position-relative"><i class="fa fa-filter" style="color: gray;"></i>
                    <b>Filter Results</b>
                    <a id="minimise" class="d-xl-none" onclick="filterDisplay()"><i class="fa fa-minus-square" style="color: gray;"></i></a>  
                    </h3>
                
            </div>  
        <div class="filter-body">
                <form  action="/addConditionsFilter" method="POST">
                
                    <div class="wrapper">
                        <h6 class="pb-3"><b>Wind Speed</b></h6>

                    <div class="range-values d-flex flex-row justify-content-between">
                        <div class="range-min"><b>MIN:</b> <span id="range1"></span> knots</div>
                        <div class="range-max"><b>MAX:</b> <span id="range2"></span> knots</div>
                    </div>
                        <div class="range-container">
                            <div class="slider-track"></div>
                            <input type="range" min="0" max="50" value="{{#if min}}{{min}}{{else}}0{{/if}}" id="slider-1" name="rangeMin" oninput="slideOne()">
                            <input type="range" min="0" max="50" value="{{#if max}}{{max}}{{else}}50{{/if}}" id="slider-2" name="rangeMax" oninput="slideTwo()">
                        </div>

                    </div>


                     <div class="direction-filter">
                         
                         <h6 class="pb-3"><b>Wind Direction</b></h6>
                         
                         <div class="check-container">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="north" type="checkbox" name="direction" value="↑ N" {{#if directionFilter}}{{ifIn directionFilter "↑ N"}}{{/if}}>
                                <label class="form-check-label"  for="north">↑ N</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="north-east" name="direction" value="↗ NE" {{#if directionFilter}}{{ifIn directionFilter "↗ NE"}}{{/if}}>
                                <label class="form-check-label" for="north-east">↗ NE</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="east" name="direction" value="→ E" {{#if directionFilter}}{{ifIn directionFilter "→ E"}}{{/if}}>
                                <label class="form-check-label" for="east">→ E</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="south-east" name="direction" value="↘ SE" {{#if directionFilter}}{{ifIn directionFilter "↘ SE"}}{{/if}}>
                                <label class="form-check-label" for="south-east">↘ SE</label>
                            </div>
                            <br/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="south" name="direction" value="↓ S" {{#if directionFilter}}{{ifIn directionFilter "↓ S"}}{{/if}}>
                                <label class="form-check-label" for="south">↓ S</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="south-west" name="direction" value="↙ SW" {{#if directionFilter}}{{ifIn directionFilter "↙ SW"}}{{/if}}>
                                <label class="form-check-label" for="south-west">↙ SW</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="west" name="direction" value="← W" {{#if directionFilter}}{{ifIn directionFilter "← W"}}{{/if}}>
                                <label class="form-check-label" for="west">← W</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="north-west" name="direction" value="↖ NW" {{#if directionFilter}}{{ifIn directionFilter "↖ NW"}}{{/if}}>
                                <label class="form-check-label" for="north-west">↖ NW</label>
                            </div>
                        </div>
                    </div>
                  

                    <div class="apply-filter">
                            <button type="submit">APPLY FILTER</button>
                     </div> 


                </form>
                </div>
                </div>

    </div>

    
                

    <div class="col-xl-9 col-lg-12 p-4 weather-details">

        <div class="summary-widget">
            
            <div class="left-panel panel" >
                <figure class="tint">
                <img  class="image-divider" src='https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'>
                </figure>
                <div class="left-details">  
                    <div class="date">{{dateFormat current.dt}}</div>
                    <div class="location"><i class="fas fa-map-marker-alt"></i> {{location}}</div>
                
                </div> 
            </div>

            
            <div class="right-panel panel">
                <div class="temp">
                    {{onedp current.temp}}&deg;C <br>
                </div>
                
                <div class="current-conditions">
                    {{#each current.weather}}   
                    <i class="owi owi-{{icon}} owi-4x"></i>        
                    {{/each}}
                </div>

                <div class="current-wind">
                    Direction: {{getCardinalDirections current.wind_deg}} <br>
                    Speed: {{knots current.wind_speed}}knots
                </div>
            
            </div>
        
        </div>
        

       <button id="button-filter" class="btn btn-primary m-2 d-xl-none" onclick="filterDisplay()"><i class="fa fa-filter" style="color: white;"></i></button>

    
        <div class="card" id="weather-table">

                {{#if hourly}}
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th class="affix">Time</th>

                            {{#each hourly}}
                        
                                <td>{{unixDate this.dt}}<br><b id="time">{{unixTime this.dt}}</b></td>
                                
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr><th class="affix">Weather</th>
                            {{#each hourly}}
                                {{#each this.weather}}
                                    <td class="table-icons"><i class="owi owi-{{icon}} owi-2x"></i></td>
                                {{/each}}
                            {{/each}}
                        
                        </tr>

                        <tr><th class="affix">Wind Direction</th>
                        {{#each hourly}}
                            <td id="wind-direction">{{this.wind_deg}}</td>
                        {{/each}}
                        
                        </tr>
                        <tr><th class="affix">Wind Speed</th>
                        {{#each hourly}}
                            <td>{{knots this.wind_speed}}<br/> knots</td>
                        {{/each}}
                        
                        </tr>
                        <tr><th class="affix">Tempreture &deg;C</th>
                        {{#each hourly}}
                            <td>{{onedp this.temp}}</td>
                        {{/each}}
                        
                        </tr>
                        <tr><th class="affix">Clouds</th>
                        {{#each hourly}}
                            <td>{{this.clouds}}</td>
                        {{/each}}
                        
                        </tr>
                        <tr><th class="affix">Visibility</th>
                        {{#each hourly}}
                            <td>{{this.visibility}}</td>
                        {{/each}}
                        
                        </tr>
                               
                    </tbody>

                </table>
                </div>
                {{else}}

                    <div class="card-body"><p>There are no results for this filter query</p></div>

                {{/if}}
            

</div>
    

</div>
</div>
</div>

 <script src = "onPage.js"></script>