
<body>
<div class="container" id="weatherForm" style="padding-top: 20px; padding-bottom: 20px;">

    <div class="summary-widget">
        {{!-- <div class="image-divider"> --}}
            {{!-- <img  class="full-width" src='https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'> --}}
        <div class="left-panel panel" >
            <figure class="tint">
            <img  class="image-divider" src='https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'>
            </figure>
         <div class="left-details">  
            <div class="date">{{dateFormat current.dt}}</div>
            <div class="location"><i class="fas fa-map-marker-alt"></i> {{location}}</div>
        
        </div> 
        </div>

        
        <div class="right-panel panel">
            <div class="temp">
                {{onedp current.temp}}&deg;C <br>
            </div>
            
            <div class="current-conditions">
                {{#each current.weather}}   
                <i class="owi owi-{{icon}} owi-4x"></i>        
                {{/each}}
            </div>

            <div class="current-wind">
                Direction: {{getCardinalDirections current.wind_deg}} <br>
                Speed: {{knots current.wind_speed}}knots
            </div>
            
        
    </div>
    {{!-- </div> --}}
    </div>



    <div class="container">

        <div class="card">

            <div class="card-body" id="filter-card">
                <span>Filter Results</span>
                <form  action="/addConditionsFilter" method="POST">

                <div class="filter-left">
                <span>Wind Speed</span>

                 {{!-- <div class="filter-left">--}}
                    <div class="wrapper">
                        <div class="range-container">
                            <div class="slider-track"></div>
                            <input type="range" min="0" max="50" value="5" id="slider-1" name="rangeMin" oninput="slideOne()">
                            <input type="range" min="0" max="50" value="30" id="slider-2" name="rangeMax" oninput="slideTwo()">
                        </div>
                            
                        <div class="values">
                            <span id="range1">0</span>
                            <span> &dash; </span>
                            <span id="range2">100</span>
                            <span> knots </span>
                        </div>

                    </div>
                 {{!-- </div>   --}}

                    <script src = "onPage.js"></script>
                </div>

                    {{!-- Filter by wind direction --}}
                <div class="filter-right">
                    <div class="direction-filter">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="north" name="direction" value="↑ N">
                            <label class="form-check-label" for="inlineCheckbox1">↑ N</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="north-east" name="direction" value="↗ NE">
                            <label class="form-check-label" for="inlineCheckbox1">↗ NE</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="east" name="direction" value="→ E">
                            <label class="form-check-label" for="inlineCheckbox1">→ E</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="south-east" name="direction" value="↘ SE">
                            <label class="form-check-label" for="inlineCheckbox1">↘ SE</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="south" name="direction" value="↓ S">
                            <label class="form-check-label" for="inlineCheckbox1">↓ S</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="south-west" name="direction" value="↙ SW">
                            <label class="form-check-label" for="inlineCheckbox1">↙ SW</label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="west" name="direction" value="← W">
                            <label class="form-check-label" for="inlineCheckbox1">← W</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="north-west" name="direction" value="↖ NW">
                            <label class="form-check-label" for="inlineCheckbox1">↖ NW</label>
                        </div>
                    </div>
                    </div>
                    <div class="apply-filter">
                            <button type="submit">Apply Filter</button>
                     </div> 

                    </form>
                        
                </div>

                    

            </div>

        </div>



        <div class="card" id="weather-table">
            {{!-- <div class="card-body"> --}}
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {{!-- <th>Date</th> --}}
                            <th>Time</th>
                            <th>Weather</th>
                            <th>Wind Direction</th>
                            <th>Wind Speed</th>
                            <th>Tempreture</th>
                            <th>Clouds</th>
                            <th>Visibility</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        {{#each hourly}}
                        <tr>
                            <td>{{unixDate this.dt}} <br> {{unixTime this.dt}}</td>
                                {{#each this.weather}}
                                    <td>{{description}}<br>
                                    {{!-- <img class="weather-icons" src="http://openweathermap.org/img/wn/{{icon}}@2x.png"> --}}
                                    {{!-- <i class="owf owf-{{id}}"></i> --}}
                                    <i class="owi owi-{{icon}} owi-3x"></i>
                                    </td>
                                {{/each}}
                            <td id="wind-direction">{{this.wind_deg}}&#176; <br> {{getCardinalDirections this.wind_deg}}</td>
                            <td>{{knots this.wind_speed}} knots</td>
                            <td>{{onedp this.temp}} &#176;C</td>
                            <td>{{this.clouds}}</td>
                            <td>{{this.visibility}}</td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            {{!-- </div> --}}
        </div>
    </div>
</div>

</body>